{% extends 'base_account_template.html' %}

{% block content %}

    <form class="mx-auto pt-5" style="width: 30%;">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">we WILL share your email and personal information with the CIA</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="pt-2" style="text-align:center;">
            <button type="button" class="btn btn-dark btn-lg">Submit</button>
        </div>
    </form>

{% endblock %}